 form {
    background-color: #ececec;
    padding: 20px;
    border-radius: 5px;
    text-align:center;
    height:auto;
}
input[type="number"] {
    width: 50%;
    padding: 5px;
    margin-bottom: 1%;
    border-radius: 1rem;
}

input[type="button"] {
    background-color: #3087e3;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 1rem;

}


.floor{
    display: flex;
    align-items: center;
    border: 3px solid rgb(208, 190, 190);
    background-color: aquamarine;
    border-radius: 0.5%;
    flex-direction: row;
    min-height: 4rem;
    width: 90%;
    flex-wrap: nowrap;
}

.g-lifts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    flex-wrap: nowrap;

}

.lift-button{
    /* border-radius: 2%; */
    background-color: aquamarine;
    padding: 0.5rem;
    /* margin-left: 0.5rem; */
}

.button-div{
    display: flex;
    flex-direction: row;
    width: 15%;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.floor-number{
    max-width: 1rem;
}

.lift-card{
    height: 4rem;
    width: 3rem;
    /* margin-bottom:1rem; */
    background-color: var(--color-gray-400);
    border: 2px solid black;
    margin-right: 5px;
    transition-property: transform;
    transition-timing-function: ease-in;
}
 
body {
    margin: 0; 
    display: block;
    flex-direction: column; 
    min-width: 100vw;
}

.name {
    display: flex;
    width: 100%; /* Full width */
    background-color: lightblue; /* Optional: Styling */
    font-size: larger;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-div {
    display: flex;
    background-color: rgb(212, 216, 212); /* Optional: Styling */
    justify-content: center;
}

.building {
    width: 100%;
    border: 2px solid #333;
    background-color: rgb(250, 195, 195);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
}

.doors {
    display: flex;
    width: 100%;
    height: 100%;
}

.door {
    width: 50%;
    height: 100%;
    background-color: #666;
    transition: transform 2.5s ease-in-out;
  }
  
  .left-door {
    position: relative;
    left: 0;
    transform: translateX(0);
  }
  
  .right-door {
    position: relative;
    right: 0;
    transform: translateX(0);
  }